h1 {

  color: black;
}
h2 {

  display: none;
}

h3 {

  font-size: 1.8em;
  color: #181810;
}

#nav-list {

  color: #e4e4e4;
  font-size: 1.4em;
}

p.one {

  font-size: 1.3em;
  color: black;
}

p.two {

  font-size: 1em;
  color: white;
}

li:hover,
.active-state {

  font-weight: 900;
  text-decoration: underline overline;
}

a {

  color: white;
  font-size: 0.8em;
}

a:link,
a:visited,
a:active {

  text-decoration: none;
  font-style: oblique;
}

a:hover {

  font-size: 0.9em;
  color: grey;
}

/*--------------Mobile-friendly text settings--------------*/
@media screen and (min-width: 0px) and (max-width: 768px) {

  p {
    font-size: 1.5em;
  }

  #nav-list {

    color: #e4e4e4;
    font-size: 1.2em;
  }
}
